version: '3.8'

networks:
  ac-network:
    driver: bridge

services:
  assetto-corsa-server1:
    image: germanrcuriel/assetto-corsa-server
    platform: linux/amd64
    container_name: assetto-corsa-server1
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - STEAM_USER=${STEAM_USER}
      - STEAM_PASSWORD=${STEAM_PASSWORD}
    ports:
      - "8081:8081"
      - "9600:9600"
      - "9600:9600/udp"
    volumes:
      - ./ac1:/steamapps/assetto/cfg
    networks:
      - ac-network
    restart: unless-stopped

  assetto-corsa-server2:
    image: germanrcuriel/assetto-corsa-server
    platform: linux/amd64
    container_name: assetto-corsa-server2
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - STEAM_USER=${STEAM_USER}
      - STEAM_PASSWORD=${STEAM_PASSWORD}
    ports:
      - "8082:8082"
      - "9601:9601"
      - "9601:9601/udp"
    volumes:
      - ./ac2:/steamapps/assetto/cfg
    networks:
      - ac-network
    restart: unless-stopped
  assetto-corsa-server3:
    image: germanrcuriel/assetto-corsa-server
    platform: linux/amd64
    container_name: assetto-corsa-server3
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - STEAM_USER=${STEAM_USER}
      - STEAM_PASSWORD=${STEAM_PASSWORD}
    ports:
      - "8083:8083"
      - "9602:9602"
      - "9602:9602/udp"
    volumes:
      - ./ac3:/steamapps/assetto/cfg
    networks:
      - ac-network
    restart: unless-stopped
  assetto-corsa-server4:
    image: germanrcuriel/assetto-corsa-server
    platform: linux/amd64
    container_name: assetto-corsa-server4
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - STEAM_USER=${STEAM_USER}
      - STEAM_PASSWORD=${STEAM_PASSWORD}
    ports:
      - "8084:8084"
      - "9603:9603"
      - "9603:9603/udp"
    volumes:
      - ./ac4:/steamapps/assetto/cfg
    networks:
      - ac-network
    restart: unless-stopped
  assetto-corsa-server5:
    image: germanrcuriel/assetto-corsa-server
    platform: linux/amd64
    container_name: assetto-corsa-server5
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - STEAM_USER=${STEAM_USER}
      - STEAM_PASSWORD=${STEAM_PASSWORD}
    ports:
      - "8084:8086"
      - "9603:9605"
      - "9603:9605/udp"
    volumes:
      - ./ac5:/steamapps/assetto/cfg
    networks:
      - ac-network
    restart: unless-stopped